<script type="text/html" id="hintView">
	<div class="span3">
          <div class="well sidebar-nav">
           <form id="jsHintRuleForm">
            <ul class="nav nav-list hintConfig-nav">
              <li class="nav-header"><a href="http://www.jshint.com/docs/options/" target="_blank">校验规则</a></li>

              {each list}
              <li><label class="checkbox"><input type="checkbox" name="{$index}" 
                 {if $value == true}
                  checked
                    {/if}
              >{$index}</label></li>
                  
                {/each}          	
            </ul>
            </form>
          </div><!--/.well -->
    </div>	

    <div class="span9">
    	<div class="well">
    		<div>
    			<input id="fileupload" type="file" name="" >
    			<button class="btn btn-primary disabled" id="doHint"  disabled>校验文件</button>

          <a id="download" href="#">点击下载文件</a>
    		</div>
    	</div>
    </div>
      <div class="span9">
    	<div class="well hint-result" id="hint-result">
          <div class="alert alert-success">
            <strong>Congratulation!</strong> Without any errors
        </div>
    	</div>
    </div>

</script>
<script type="text/html" id="jsHintResult">
{if list.length == 0}
          <div class="alert alert-success">
            <strong>Congratulation!</strong> Without any errors
           </div>
       {else}
        {each list as result} 
          <div class="alert alert-error" style="color:black;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span class="result-text">
               <span class="title">File:</span>{result.fileName}  <span class="title">Line {result.error.line}:</span>
                <code>{result.error.evidence}</code>
            </span>
            <br/>
             <span class="result-text indent">
                {result.error.reason}
            </span>
          </div>
        {/each}
    {/if}

</script>
<script type="text/html" id="concatView">
      <h1>bb{ con}</h1>
</script>
<script type="text/html" id="compressView">
      <h1>cc{ con}</h1>
</script>
<script type="text/html" id="buildView">
      <h1>dd{ con}</h1>
</script>
<script type="text/html" id="jsonEditorView">
    <div class="container">
        <div class="span12 well" >
          <textarea id="jsonEditorContainer">
   
           </textarea>
        </div>
    </div>
</script>